ul.menu-list li {
	color: white;
	font-size: 20px;
	display: inline;
	font-family: Verdana;
	margin: 10px;
	padding: 5px;
}

div.menu {
	
}

div.logo {
	width: 108px;

}

ul.menu-list li:hover {
	/*color: #92A9BF; */
	background: #696992;
}

div.menu-background {
	width: 700px;
	height: 200px;
	background-color: #4c4c69;
}

