body {
    margin: 0 auto;
    background-color: #deded4;
    width: 1280px;
    height: 1600px;
}

header {
    width: 1280px;
    height: 303px;
}

ul.menu-list li {
    color: #515345;
    text-transform: uppercase;
    
    display: inline;
    font: 100% Ebrima, sans-serif;
    margin: 10px;
    padding: 5px;
}

img#logo {
    padding: 20px;
}

div.menu {
    position: fixed;
    top: 47px;
    right: 209px;
}

ul.menu-list li:hover {
    border-radius: 20px;
    color: #f3fbe3;
    background: #92c34d;
}

div.menu-background {
    position: fixed;
    top: 25px;
    width: 1280px;
    height: 278px;
    background-color: #eeefe9;
}

#logo-circle {
    width: 456px;
    height: 456px;
    margin-left: 150px;
    background: #8eae43;
    border-radius: 228px;
/*    opacity: 0.75;*/
    position: fixed;
    top: -158px;
    background: linear-gradient(90deg, #85a737, #a7bf6b);
}


/*Стили Слайдера*/

.slider {
    z-index: 9;
    width: 700px;
    height: 290px;
    overflow: hidden;
/*    margin: 0 0 7px;*/
    position: relative;
/*
    left: 419px;
    bottom: 413px;
    right: 246px;
*/
    border: 25px solid #fffdfa;    
    border-radius: 20px;
    
}

.slider ul,
.slider li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.slider ul {
    width: 9999px;
}

.slider ul li {
    list-style-type: none;
    float: left;
    width: 700px;
    height: 290px;
}

.slider .nav {
    position: absolute;
    left: 15px;
    bottom: 12px;
}

.slider .nav span {
    opacity: 0.9;
    background: #fff;
    margin: 0 8px 0 0;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    display: block;
    float: left;
    box-shadow: 0 1px 2px #000;
}

.slider .nav span.on {
    background: #2e9419;
}


div.blockTitle {
    position: relative;
    top: 200px;
    width: 289px;
    height: 306px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    float: left;
    margin: 9px;
}

span.list {    
    font-size: 50px;
}

span.titleList {
    font-family: 'Courier New', Courier, monospace;
    font-size: 96%;
    
}

